* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24272e;
}

header {
  background: white;
  padding: 5.25rem;
  text-align: center;
}

main {
  color: white;
  text-align: center;
}

.score-board {
  position: relative;
  border: 3px solid white;
  border-radius: 0.25rem;
  margin: 1rem auto;
  font-size: 3rem;
  width: 12.5rem;
  padding: 1rem 1.25rem;
}

.badge {
  background: #e25840;
  padding: 0.125rem 0.625rem;
  font-size: 0.875rem;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -30px;
  border-radius: 0.125rem;
  border: 3px solid white;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -40px;
  border-radius: 0.125rem;
  border: 3px solid white;
}

#user-score,
#computer-score {
  transition: all 500ms ease-out;
}

.result p {
  font-size: 2.5rem;
  font-weight: bold;
}

.result p::first-letter {
  text-transform: capitalize;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 3.125rem 0 1.25rem;
}

.choices ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.choices li:nth-child(1) {
  position: absolute;
  top: -1rem;
  left: 15%;
}

.choices li:nth-child(3) {
  position: absolute;
  bottom: -1rem;
  left: 25%;
}

.choice {
  border: 0.25rem solid white;
  font-size: 3.5rem;
  border-radius: 50%;
  padding: 0.625rem;
  margin: 1.25rem;
  transition: all 200ms ease-in-out;
  user-select: none;
  background: #24272e;
}

.choice:hover {
  cursor: pointer;
  opacity: 0.5;
}

.choice:active {
  transform: scale(0.75);
  transition: transform 750ms;
}

.action-message {
  margin-top: 5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.new-game {
  margin-top: 5rem;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 50ms ease-in-out;
}

.new-game:hover {
  cursor: pointer;
}

.new-game:active {
  opacity: 0.5;
  font-size: 1rem;
}

.border-green {
  border: 0.25rem solid green;
  box-shadow: 0 0 0.75rem lightgreen;
}

.border-red {
  border: 0.25rem solid red;
  box-shadow: 0 0 0.75rem orange;
}

.border-yellow {
  border: 0.25rem solid yellow;
  box-shadow: 0 0 0.75rem white;
}

.green-text {
  color: green;
  text-shadow: 0 0 0.75rem lightgreen;
}

.red-text {
  color: red;
  text-shadow: 0 0 0.75rem orange;
}
